<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">-->
</head>
<body ng-controller="MainPageControl">
  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Weather Viewer</a>
  </div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li class="{{ isActive('/current') && 'active' || '' }}"><a href="#/current">Current Conditions</a></li>
        <li class="{{ isActive('/historical') && 'active' || '' }}"><a href="#/historical">Historical</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
<div class="btn-group" >
    <a class = "btn {{isCelsius && 'active' || ''}}" ng-click="toggleUnit(true)" >&degC</a>
    <a class = "btn {{!isCelsius && 'active' || ''}}" ng-click="toggleUnit(false)">&degF</a>
</div>
      </li>
      <li><a href="#">Login</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

  <div ng-view></div>

  <div>Angular seed app: v<span app-version></span></div>
  <div>current value {{isCelsius && 'celsius' || 'farenheit'}}

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="lib/ui-bootstrap-0.6.0.min.js"></script>
</body>
</html>
