<div class="btn-toolbar ">
<div class="btn-group" >
    <button ng-repeat="device in devices" type="button" class="btn btn-default" btn-checkbox ng-model="deviceModel[device.name]">{{device.name}}</button>
</div>
</div>
<div class="btn-toolbar ">
<div class "btn-group">
    <button ng-repeat="sensor in sensors"  type="button" class="btn btn-default" btn-checkbox ng-model="sensorModel[sensor.name]">{{sensor.name}}</button>
</div>
</div>
<div class="form-horizontal">
    <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-change="changed()" ng-model="dates.start_dt" min="'2013-09-06'" max="dates.maxDate" />
    <!--<button class="btn" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>-->
    <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-change="changed()" ng-model="dates.end_dt" min="dates.start_date" max="dates.maxDate" />
</div>
<div class="form-horizontal">
  <div ng-model="time.start_time" ng-change="changed()" class="well well-small" style="display:inline-block;">
    <timepicker show-meridian="false"></timepicker>
  </div>
  <div ng-model="time.end_time" ng-change="changed()" class="well well-small" style="display:inline-block;">
    <timepicker show-meridian="false"></timepicker>
  </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th ng-repeat="row in historical.cols">{{row}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in historical.items| filter:tableFilter | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>{{row.device}}</td>
            <td>{{row.sensor}}</td>
            <td><span ng-bind-html-unsafe="dateConvert(row.timestamp)|date:'medium'"></span></td>
            <td><span ng-bind-html-unsafe="valueConvert(row.value, row.sensor)"></span></td>
        </tr>
    </tbody>
</table>
<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" type="button" class="btn btn-primary">
    Previous
</button>
{{currentPage+1}}/{{numberOfPages()}}
<button ng-disabled="currentPage >= chartdata.length/pageSize - 1" ng-click="currentPage=currentPage+1" type="button" class="btn btn-primary">
    Next
</button>
